@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: linear-gradient(#cfbaf0b2, #ffcfd2a4, #a3c4f3b0, #fbc2ebba);
}
.container {
  height: auto;
  width: 100%;
}
.navbar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}
.logo-and-tagline {
  width: auto;
  display: flex;
  justify-content: center;
}
.logo-and-tagline img {
  width: 300px;
  margin-left: 20px;
}
.menu-items {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}
.menu-items ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}
.menu-items ul li {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 900;
  cursor: pointer;
}
.menu-items ul li a {
  text-decoration: none;
  color: black;
}

.menu-items ul li a:link,
.menu-items ul li a:visited {
  color: black;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.menu-items ul li a:hover {
  color: #4caf50;
  transform: scale(1.1);
}

.menu-items ul li a:active {
  color: #1565c0;
}

.menu-items ul li a:focus {
  outline: none;
  transition: color 0.3s ease-in-out;
}
main {
  position: relative;
  width: 100%;
  height: auto;
}
.hero-section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section blockquote {
  color: rgb(20, 27, 221);
  font-size: 1rem;
  font-weight: 700;
  text-align: justify;
  font-style: italic;
}
.hero-section h1 {
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}
.hero-section p {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}
/*  section h2 */
.hero-section .text-center h2 {
  width: 100%;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: inherit;
  color: black;
}
.showcase {
  width: 70%;
  height: auto;
  display: block;
}
.orbit {
  position: relative;
  width: 80%;
  margin-left: 10%;
  background-color: transparent;
  box-shadow: 0 0 0 3px rgba(177, 5, 5, 0.566);
  height: 500px;
  overflow: hidden;
}

.planet {
  position: absolute;
  width: 100%;
  height: 100%;
}

.planet-img {
  display: block;
  width: 50%;
  height: auto;
  position: absolute;
  margin: 30%;
  transform: translate(-50%, -50%);
}

.planet-img:nth-child(1) {
  transform: translate(-65%, -110%) rotate(0deg) translateX(0px);
  background-color: transparent;
  z-index: 111;
}

.planet-img:nth-child(2) {
  transform: translate(40%, -90%) rotate(00deg) translateY(0px);
  border-radius: 2%;
}

.planet-img:nth-child(3) {
  transform: translate(40%, 23%) rotate(0deg) translateX(0px);
}
.planet-img:nth-child(4) {
  transform: translate(-70%, 23%) rotate(0deg) translateX(0px);
  border-radius: 2%;
  z-index: 111;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.stubbles {
  width: 100%;
  height: max-content;
  margin: 0 auto;
  border-radius: 1%;
  background-color: transparent;
}
.product-intro {
  color: green;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 8%;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  overflow: hidden;
  border-right: 0.15em solid green;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #90dbf4;
  }
}

.product-image {
  padding: 2rem;
  margin-left: 20%;
}

.products-section {
  width: 100%;
  margin: 0;
  padding: 0 1rem;
}
.products-heading h2 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.products-heading p {
  width: 50%;
  margin-left: 30%;
  background-color: #ffffff12;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 1rem;
  text-transform: lowercase;
  color: black;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.product-card {
  width: 25%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 2%;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: gray;
}
.product-image img {
  margin-right: -1rem !important;
  padding: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 12px;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.product-description {
  color: black;
  font-size: 1.3rem;
  text-align: justify;
  font-weight: 200;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  padding: 23px;
  text-align: center;
}
/* Responsiveness */
@media only screen and (max-width: 768px) {
  .navbar{
    display: flex;
    width: 100%;
  }
  .logo-and-tagline{
    width: 30%;   
  }
   .logo-and-tagline img{
    width: 200px;
    margin-left:70px !important;
    float: left;

   }
  
  .menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .menu-items.show {
    display: flex;
  }

  .menu-items ul {
    flex-direction: column;
    align-items: center;
  }

  .menu-items li {
    margin: 10px 0;
  }

  .burger-menu {
    display: block;
  }
  .hero-section{
    display: block;
  }
  .showcase{
    width: 100%;
    height: max-content;
    margin-top: 30px;    
    
  }
  .showcase .product-intro{
    font-size: 12px;
    margin-left: -10px;
    margin-bottom: 10px;
    text-align: justify;
    width: 100%;	
    background-color: rgba(0, 255, 51, 0.13);
    text-transform: capitalize;

  }
  .orbit{
    width: 100%;
    height: 300px;
    margin: 0px;
    margin: 0 auto;
  }
 .planet{
    width: 100%;
    height: 100%;
 }
.products-section{
  width: 100%;
  margin: 0px;
  display: block !important;
  padding: 0px;
}
.products-heading{
  width: 100%;
  display: block;
  margin: 0px;
  padding: 0px;
}
.products-heading h2, .products-heading p{
  width: 100%;
  margin: 0px;
  padding: 10px;

}
.products{
  display: block;
  width: 100%;
  margin: 0px;  
}
.product-card{
  width: 90%;
  margin: 20px;
  padding: 0px;

}
}
